@Step("{{#escape_backslashes_and_double_quotes}}{{#remove_double_quotes}}{{> serenity_pattern}}{{/remove_double_quotes}}{{/escape_backslashes_and_double_quotes}}")
public void {{{ camelize_lower uniq_name }}}({{#if has_parameters?}}{{{join rendered_children.parameters ', '}}}{{/if}}) {{#curly}}
{{#clear_empty_lines}}
{{#indent}}{{#comment '//'}}{{#if has_tags?}}Tags: {{{ join rendered_children.tags ' '}}}
{{/if}}{{#if has_description?}}{{rendered_children.description}}
{{/if}}{{/comment}}{{/indent}}
{{> body}}
{{/clear_empty_lines}}
{{/curly}}