@Step("<Enter Step Description>")
public void {{{ camelize_lower uniq_name }}}({{#if has_parameters?}}{{{join rendered_children.parameters ', '}}}{{/if}}) {{#curly}}
{{#clear_empty_lines}}
{{#indent}}{{#comment '//'}}{{#if has_tags?}}Tags: {{{ join rendered_children.tags ' '}}}
{{/if}}{{#if has_description?}}{{rendered_children.description}}
{{/if}}{{/comment}}{{/indent}}
{{> body}}
{{/clear_empty_lines}}
{{/curly}}