package {{{ context.package }}};

import net.thucydides.core.annotations.Step;

public class Actionwords {{#if uses_library?}}extends ActionwordLibrary {{/if}}{{#curly}}{{#indent}}

{{#each rendered_children.actionwords}}
{{{this}}}
{{/each}}
{{/indent}}
{{/curly}}
