package {{{ context.package }}};

import cucumber.api.DataTable;
import cucumber.api.java.en.*;

import net.serenitybdd.core.Serenity;
import net.thucydides.core.annotations.Steps;

public class StepDefinitions {{#curly}}{{#indent}}

@Steps
public Actionwords {{{ context.call_prefix }}} = new Actionwords();

{{#each rendered_children.actionwords}}{{{this}}}
{{/each}}
{{/indent}}
{{/curly}}
